
@{
    ViewData["Title"] = "Cursos";
}

<div class="text-center p-2 p-md-4">

    <h3 class="h3  text-center">No postergues mas tu aprendizaje </h3>
    <p>En <span class="h5 text-center text-primary">ESTUDIANTES-TIC </span>queremos que seas el mejor en tu area</p>
</div>
<section class="row my-4">


    <div class="card-deck p-4">




        <div class="card ">
            <img class="card-img-top" src="../imagenes/fr.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Front-end Developer</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../imagenes/mb.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">App movil developer</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>




    </div>



    <div class="card-deck p-4">




        <div class="card ">
            <img class="card-img-top p-2" src="../imagenes/aspLogo.png" alt="Asp.net back-edn">

            <div class="card-body">
                <h5 class="card-title">Back-end Developer</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>



        <div class="card">
            <img class="card-img-top" src="../imagenes/prog.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">General programing</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

</section>
