@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  
    <!--Header-->
    <hr />

    <main class="row">

        <section class="col-12  text-center my-2 my-md-4">
                <h3>¿Que puedo aprender en <span>estudiantes tic RD?</span></h3>

                <p>
                    El lugar ideal para darle sentido a tu aprendizaje, ven y accede a
                    la comunidad mas grande y talentosa del pais
                </p>


            <div class="container my-2 py-4 ">
                <div class="card row flex-row-reverse d-flex justify-content-center align-items-center">
                    <img class="col-lg-4 card-img-end img-fluid p-0" src="./imagenes/tic.jpg" alt="estudiantes tic" />
                    <div class="col-lg-8 card-body flex-column">
                        <h5 class="card-title">Nuestros cursos estan enfocados al area de Tecnologia de la informacion</h5>

                        <p class="card-text">Podras encontrar una serieilimitada de contenido.</p>
                        <a href="#" class="btn btn-primary">Ver cursos</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="">

            <div class="py-3 py-md-5 text-center">
                <h3>Elige el area que mas te <span class="text-danger "> apasiona </span></h3>
            </div>
            

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top p-2" src="../imagenes/dev.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollo de software</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                        <button class="btn btn-outline-primary btn-lg">Mas información</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top p-2" src="../imagenes/db.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Base de datos</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                        <button class="btn btn-outline-primary btn-lg">Mas información</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top p-2" src="../imagenes/dweb.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Diseño Digital</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                        <button class="btn btn-outline-primary btn-lg">Mas información</button>
                    </div>
                </div>
            </div>


                
            
        </section>

        
    </main>



</div>
