@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  
    <!--Header-->
    <hr />
    <header>
        <h2>Header seccion</h2>
    </header>

    <main class="row">
        <section class="col-12 ">
            <h3>¿Que puedo aprender en <span>estudiantes tic RD?</span></h3>

            <p>
                El lugar ideal para darle sentido a tu aprendizaje, ven y accede a 
                la comunidad mas grande y talentosa del pais
            </p>

            <div class="py-4">

            </div>

        </section class="col col-sm-1  col-md-6 col-12">

            <div class="text-center pt-xl-3">
                <div class="icono"></div>
                <h5>Desarrollo de software</h5>
                <p>
                    paragraph
                </p>
            </div>

            <div class="text-center pt-xl-3">
                <div class="icono"></div>
                <h5>Base de datos</h5>
                <p>
                    paragraph
                </p>
            </div>

            <div class="text-center pt-xl-3">
                <div class="icono"></div>
                <h5>Seguridad Informatica</h5>
                <p>
                    paragraph
                </p>
            </div>

            <div class="text-center pt-xl-3">
                <div class="icono"></div>
                <h5>Diseño Digital</h5>
                <p>
                    paragraph
                </p>
            </div>
        <section>
            
        </section>

        
    </main>



</div>
